body {
  background-color: $bg-color-primary;
}

.form {
  .field {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
  }
}